<!--Menu-->
<nav class="navbar navbar-expand-lg" style=" background: linear-gradient(white, #81B5C7);">
    <div class="container-fluid">
        <a class="navbar-brand" href="/" style=" font-family: 'Qwitcher Grypen', cursive; font-size: 2rem;">Hands</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0" style="list-style: none;">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="#">Preguntas Frecuentes</a>
                </li>
            </ul>
            <div>
                <a class="text-end" style="color: black;" aria-current="page" href="/admin/login"><i
                        class="fa-solid fa-user"></i></a>
            </div>
        </div>
    </div>
</nav>
<!--FinMenu-->

<!--PreguntasFrecuentes-->
<div id="preguntas_frecuentes" class="container-fluid">
    <div class="row ">
        <div class="col-4">
            <div id="list-example" class="list-group">
                <a class="list-group-item list-group-item-action" data-bs-scroll href="#list-item-1">¿Puedo usar Hands
                    en todo el
                    cuerpo?</a>
                <a class="list-group-item list-group-item-action" data-bs-scroll href="#list-item-2">¿Por qué es tan
                    importante la
                    hidratación
                    para la piel del rostro?</a>
                <a class="list-group-item list-group-item-action" data-bs-scroll href="#list-item-3">¿Qué factores
                    provocan
                    resequedad en
                    el
                    rostro?</a>
                <a class="list-group-item list-group-item-action" data-bs-scroll href="#list-item-4">¿Cúal es la
                    diferencia entre
                    un
                    bloqueador solar y un protector solar?</a>
                <a class="list-group-item list-group-item-action" data-bs-scroll href="#list-item-5">¿Debo usar una
                    crema
                    hidratante todos
                    los días?</a>
                <a class="list-group-item list-group-item-action" data-bs-scroll href="#list-item-6">¿Es necesario usar
                    una crema
                    de
                    hidratación especial para las manos?</a>
                <a class="list-group-item list-group-item-action" data-bs-scroll href="#list-item-7">¿Qué cantidad de
                    crema
                    humetante debo
                    colocarme?</a>
                <a class="list-group-item list-group-item-action" data-bs-scroll href="#list-item-8">¿Qué beneficios
                    aporta el uso
                    de la
                    tecnología micelar?</a>
                <a class="list-group-item list-group-item-action" data-bs-scroll href="#list-item-9">¿Qué significa el
                    factor de
                    protección
                    solar (FP)?</a>
                <a class="list-group-item list-group-item-action" data-bs-scroll href="#list-item-10">¿Puedo volver a
                    utilizar un
                    producto
                    de protección solardel año pasado o es menos eficaz?</a>
                <a class="list-group-item list-group-item-action" data-bs-scroll href="#list-item-11">¿Cómo se refleja
                    el
                    envejeimiento en
                    la piel?</a>
            </div>
        </div>
        <div class="col-8 preguntas">
            <div data-bs-spy="scroll" data-bs-target="#list-example" data-bs-smooth-scroll="true"
                class="scrollspy-example" tabindex="0">
                <h4 id="list-item-1">¿Puedo usar Hands en todo el cuerpo?</h4>
                <p>Las cremas corporales de Hands pueden aplicarse en todo tu cuerpo. No se recomienda su uso en el
                    rostro
                    por no
                    encontrarse indicada para dicho uso.</p>
                <h4 id="list-item-2">¿Por qué es tan importante la hidratación para la piel del rostro?</h4>
                <p>El agua desempeña un papel importantísimo para el aspecto saludable de la piel. La capa córnea
                    está
                    formada por
                    alrededor de un 10 a un 30 % de agua, y las capas más profundas tienen incluso más. Una piel con
                    una
                    hidratación
                    totalmente equilibrada es flexible y suave, y posee una función de barrera intacta. Por el
                    contrario,
                    una
                    hidratación insuficiente puede provocar una piel rugosa y débil. Además, la piel seca puede
                    perder
                    elasticidad
                    y, como resultado, puede sufrir pequeñísimas grietas que afecten la función de barrera de la
                    piel. Por
                    eso es
                    tan importante la hidratación para un aspecto saludable y equilibrado de la piel del rostro. Los
                    productos de
                    cuidado facial de NIVEA te ayudan a hidratar y nutrir tu piel.</p>
                <h4 id="list-item-3">¿Qué factores provocan resequedad en el rostro?</h4>
                <p>La capa córnea de la piel está cubierta por un manto hidrolípido. Juntos forman una barrera
                    protectora
                    que es
                    la responsable de la protección contra infecciones bacterianas, así como del mantenimiento del
                    equilibrio de
                    humedad natural de la piel. Cualquier agresión a esta barrera puede provocar
                    deshidratación.Tanto
                    factores
                    externos como internos pueden ser los responsables de la sequedad de la piel. Entre los factores
                    externos están
                    las influencias climáticas, como el viento, el aire de la calefacción, la baja humedad del
                    ambiente, las
                    temperaturas extremas y la radiación UV. Además, los hábitos personales tales como el uso
                    excesivo de
                    productos
                    limpiadores agresivos, algún tipo de medicación, el estrés, ingerir pocos líquidos o ciertos
                    hábitos de
                    alimentación también desempeñan un papel importante. Por otro lado, hay factores internos como
                    la
                    actividad
                    hormonal, las enfermedades o el envejecimiento de la piel que pueden ser determinantes para la
                    sequedad.
                </p>
                <h4 id="list-item-4">¿Cúal es la diferencia entre un bloqueador solar y un protector solar?</h4>
                <p>Al hablar de productos de cuidado del sol, es correcto hablar de protector solar y no de
                    bloqueador
                    solar, ya
                    que es la terminología aprobada por nuestra autoridad sanitaria. Sin embargo, normalmente se
                    suele
                    hablar de
                    bloqueador solar para aquellos que reflejan los rayos del sol de la piel, previniendo que los
                    mismos
                    penetren la
                    piel. Mientras que, por otro lado, el protector solar filtra los rayos UV. Por lo tanto, el
                    filtro
                    refleja,
                    absorbe y esparce los rayos UVA y UVB.</p>
                <h4 id="list-item-5">¿Debo usar una crema hidratante todos los días?</h4>
                <p>Todos los días nuestra piel se enfrenta a diferentes factores. Por ejemplo, se seca más rápido
                    después de
                    la ducha y está expuesta a diferentes estímulos ambientales. Por eso es importante hidratarla.
                    Todos los
                    productos de cuidado corporal de Hands; le aportan a tu piel componentes hidratantes. </p>
                <h4 id="list-item-6">¿Es necesario usar una crema de hidratación especial para las manos?</h4>
                <p>Las manos están sometidas a diversos factores ambientales, están en contacto con detergentes y
                    jabones
                    todos los días. Como estamos siempre en movimiento, no solo es importante que una crema de manos
                    hidrate, sino también es necesario que se absorba rápidamente.</p>
                <h4 id="list-item-7">¿Qué cantidad de crema humetante debo colocarme?</h4>
                <p>Se recomienda colocar la cantidad deseada en la palma de la mano y aplicarla en todo tu cuerpo
                    realizando
                    un suave masaje con movimientos circulares ascendentes para estimular el sistema circulatorio.
                    Lo mejor
                    es que apliques la crema luego del ducharte ya que es cuando los poros están abiertos y absorben
                    mejor
                    los nutrientes de la crema.</p>
                <h4 id="list-item-8">¿Qué beneficios aporta el uso de la tecnología micelar?</h4>
                <p>Las micelas actúan como un imán que atrapa el maquillaje, la suciedad y las impurezas. Remueven
                    el
                    maquillaje efectivaemnte, limpia profundamente con suavidad, humecta y deja la piel suave sin
                    dejar
                    residuos, para que respire mejor, y refresca. El resultado es una piel limpia, suave y
                    humectada.</p>
                <h4 id="list-item-9">¿Qué significa el factor de protección solar (FP)?</h4>
                <p>El FP indica el tiempo adicional que puedes continuar bajo el sol sin padecer quemaduras,
                    dependiendo de
                    las propias capacidades de autoprotección de tu piel (si, por ejemplo, una persona puede solo
                    estar 10
                    minutos al sol sin quemarse, un producto con FP 10 multiplica ese “tiempo de autoprotección” por
                    10, lo
                    que equivale a 100 minutos). Por eso la protección solar también depende de tu propio tipo de
                    piel. Hay
                    que tener en cuenta, además, que la protección solar solo es eficaz si se aplica una cantidad de
                    producto suficiente. Se recomienda utilizar 2 mg por cm2 en cada aplicación, lo que equivale,
                    por
                    ejemplo, a aproximadamente un dedo de producto para la cara o a 2-3 cucharadas de producto para
                    el
                    cuerpo medio de un adulto. </p>
                <h4 id="list-item-10">¿Puedo volver a utilizar un producto de protección solardel año pasado o es
                    menos
                    eficaz?</h4>
                <p>Hands garantiza la calidad del producto durante 12 meses tras su apertura. Si el producto fue
                    almacenado
                    bajo condiciones normales a temperatura ambiente y no presenta un aspecto ni un olor extraños,
                    puede ser
                    utilizado la próxima temporada. El periodo de conservación está bastante limitado por factores
                    como la
                    inestabilidad física (separación de la emulsión), los cambios en el perfume y el color del
                    producto. La
                    opinión extendida de que el FP de los productos de cuidado solar disminuye con el tiempo y
                    solamente los
                    productos frescos aportan una total protección no es cierta.</p>
                <h4 id="list-item-11">¿Cómo se refleja el envejeimiento en la piel?</h4>
                <p>La piel, como parte del organismo, experimenta dos tipos de envejecimiento:
                    Envejecimiento intrínseco: es el que acontece en todos los individuos por igual. Está
                    relacionado con la
                    carga genética y la reproducción de las células a lo largo de la vida. Con el paso del tiempo la
                    piel
                    pierde volumen, poniéndose más fina. Este proceso se manifiesta de manera proporcional con la
                    edad.
                    Envejecimiento extrínseco: también conocido como fotoenvejecimiento, es el que sufre la piel en
                    relación
                    directa con la exposición al sol.
                    Hands Anti-Edad provee el cuidado diario que tu piel necesita. Es una crema específica que ayuda
                    a
                    retrasar el envejecimiento de la piel.</p>
            </div>
        </div>
    </div>
</div>
<!--FinPreguntasFrecuentes-->